<!DOCTYPE html>
<html ng-app="TTTApp">
	<head>
		<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="style.css">
			
			
			
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>

		<script src="main.js"></script>
	</head>
	<body>
		<h1>Tic Tac Toe</h1>
		<div ng-controller="TTTcontroller">

			<div class="theBox"> <!--The tic tac toe board-->
				<div ng-repeat="currentCell in cells"> 
					<!--currentCell is acting as each individual cell then repeating through the array in the JS doc-->
					<div class="cells" ng-click="playerTurn(thisCell)" ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status=='O'}">
					<!-- There is no link to the css "xclass" or "oclass", angular takes care of that for you-->  
					<!-- cell contents: {{currentCell.status}} 
 					-->				
					</div>
				</div>
			</div>
			<br>
		    <p>{{$scope.winner}}</p>
		</div>
	</body>
</html>