h1 {
	text-align: center;
}

.refresh {
	text-align: center;
	padding-bottom: 30px;
}

.theBox {
	width: 472px;
	height: 472px;
	background-color: white;
	margin: 0 auto;
}

.cells {
	width: 150px;
	height: 150px;
	display: inline-block;
	float: left;
	margin: 3px;
	padding: 0px;
	background-color: black;
	border-radius: 10px;

}

.oclass {
	background-color: yellow;
}

.xclass {
	background-color: red;
}




